/* .homepage {
    text-align: center;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
  
  .header .logo {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .login-options .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
  }
  
  .qr-info .qr-demo {
    max-width: 200px;
    margin-top: 10px;
  }
  
  .footer p {
    font-size: 1em;
    color: #666;
  } */

  /* General Media Query for Mobile Devices */
/* @media (max-width: 768px) {
  .logo {
    max-width: 80px; Smaller logo for mobile
  }

  h1 {
    font-size: 1.5em; Slightly smaller header text
  }

  footer {
    font-size: 0.7em; Smaller footer text
  }
} */

  